[submodule "subprojects/Stick"]
	path = subprojects/Stick
	url = https://github.com/mokafolio/Stick.git
[submodule "subprojects/Crunch"]
	path = subprojects/Crunch
	url = https://github.com/mokafolio/Crunch
[submodule "subprojects/Tarp"]
	path = subprojects/Tarp
	url = https://github.com/mokafolio/Tarp
